/*.reg_a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  .reg_a1 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
*/